@import "./src/index.css";

/* Project global styles (optional) */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
